#main {
	font-family: Arial, Helvetica, sans-serif;
	height: 800px;
	margin: 0 auto;
	background-color: #8AD9FF;
}
#banner {
	height: 60px; /*
    Remove background-color when banner is in place
  */;
	Background-color: #000000;
}

#menu {
  height: 35px;
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8AD9FF;
  border-radius: 6px;
}

#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: #00F !important;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
  color: #F90 !important;
  background-color: #FFF;
}
.searchResults {
	background-color: #8AD9FF;
}
body {
	background-color: #8AD9FF;
}
.information {
	font-style: italic;
}
.successful {
	font-style: italic;
	font-weight: bold;
	color: #008000;
}
.unsuccessful {
	font-weight: bold;
	font-style: italic;
	color: #FF0000;
}
.importantInformation {
	font-weight: bold;
	font-style: italic;
	color: #CC33FF;
	text-decoration: underline blink;
	font-size: large;
}
input[type=submit] {
	font-size: x-large;
	font-weight: bold;
}
a:hover {
	color: #0000FF !important;
	font-weight: bold;
}
a:visited {
	color: #000000;
}
a:link {
	color: #000000;
}
a {
	cursor: default;
}
