#main {
  max-width: 600px;
  height: 800px;
  margin: 0 auto;
  backGround-color: #AA3939;
}

#banner {
  height: 60px;
  Max-width: 600px;
  /*
    Remove background-color when banner is in place
  */
  
  Background-color: #303D74;
}

#menu {
  height: 35px;
  font-size: 14px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8AD9FF;
  border-radius: 6px;
}

#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

#menu li {
  display: inline;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: #00F;
  padding: 8px 8px 8px 8px;
}

#menu a:hover {
  color: #F90;
  background-color: #FFF;
}