vti_encoding:SR|utf8-nl
vti_author:SR|XPS\\Luke
vti_modifiedby:SR|XPS\\Luke
vti_timelastmodified:TR|04 Sep 2015 06:46:09 -0000
vti_timecreated:TR|04 Sep 2015 05:16:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contractor_add.php contractor_home.php
vti_nexttolasttimemodified:TW|04 Sep 2015 06:44:38 -0000
vti_cacheddtm:TX|04 Sep 2015 06:46:09 -0000
vti_filesize:IR|207
