vti_encoding:SR|utf8-nl
vti_author:SR|XPS\\Luke
vti_modifiedby:SR|XPS\\Luke
vti_timelastmodified:TW|04 Sep 2015 10:53:29 -0000
vti_timecreated:TR|04 Sep 2015 05:16:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contractor_add.php contractor_home.php contractor_search.php contractor_search_name.php
vti_nexttolasttimemodified:TW|04 Sep 2015 10:53:29 -0000
vti_syncwith_192.168.0.200\:21/ifb299:TX|04 Sep 2015 08:39:42 -0000
vti_syncofs_192.168.0.200\:21/ifb299:TW|04 Sep 2015 18:58:00 -0000
vti_cacheddtm:TX|04 Sep 2015 10:53:29 -0000
vti_filesize:IR|540
